####### Example ini File for birding script ############
[SectionGeneral]
fileCSS:paul.css
path:/app/
goohleAPI:{google maps API key} 

[SectionOrnithode]
user:{ornitho.de user}
pass:{ornitho.de password}
list:lifelists/ornithoReferenzlisteArten20130415.xls

[SectionEbird]
user:{ebird.org user}
pass:{ebird.org password}
